body {
	margin:				0;
	padding:			0;
	background:			grey; /* edgy */
}

#canvas {
	width:				720px;
	height:				432px;
	margin: 			120px auto 0 auto;
	background-color:	#d6d6d6;
}

canvas {
	position: 			absolute;
	z-index: 			0;
	width:				720px;
	height:				432px;
}

canvas#entities {
	z-index:			1;
}

canvas#foreground {
	z-index: 			2;
}

#canvas.editor {
	width:				1134px;
	position: 			relative;
}

#canvas.editor .palette-holder {
	height:				432px;
    overflow:			auto;
    position:			absolute;
    right:				0px;
    width:				401px;
}

#canvas.editor canvas#background {
	position:			absolute;
	left:				0px;
}

#canvas.editor canvas#palette {
	width:				384px;
	background-color:	#000000;
}